.mono {
    font-family: monospace;
}
ul {
    list-style-type: none;
}
a[href^="/del_"] {
    color: #f00;
}

html,body{
    height: 100%;
    width: 100%;
}
body {
    margin: 0px;
}

div.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:
        [left] 1fr
        [middle] 0.5fr
        [right] 1fr;
    grid-template-rows:
        [header] 50px
        [all] 1fr;
}

div.grid > h1 {
    grid-row: header;
    grid-column: middle;
    text-align: center;
}

div.grid > div.left {
    grid-column: left;
    grid-row: all;
}

div.grid > div.right {
    grid-column: right;
    grid-row: all;
}
#by-tag,#manual{
    display: none
}

.node.online {
    background: #0f0;
}
.node.offline{
    background: #f00;
}