<html>
    <head>
        <link rel="stylesheet" href="/css">
    </head>
    <body>
        <form method="POST" action="/add_job">
            <div>
            <label>Name</label>
            <input type="text" name="name">
            </div>
            <div>
            <label>Tags to Use</label>
            <input type="text" id="autocomplete" name="tags">
            </div>
            Existing tags are:
            <ul>
                {% for item in tags %}
                <li><a onclick='document.querySelector("input[name=tags]").value = "{{item}}"'>{{ item }}</a></li>
                {% endfor %}
            </ul>
            <button type="submit">Submit</button>
        </form>
    </body>
    <script>
        let ac = document.getElementById("autocomplete")
        //implement autocompletion??
    </script>
</html>