<html>
    <head>
            <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
            <link rel="stylesheet" href="{{ url_for('static',filename='job_main.css') }}">
    </head>
    <body>
        <div class="grid">
            <div class="left">
                <form method="POST" action="?">
                    <div>
                        <label>Name</label>
                        <input type="text" name="name">
                    </div>
                    <div>
                        <label>Jobs</label>
                        <input type="text" name="sources">
                        <ul>
                            {% for item in jobs %}
                            <li><a onclick='addSource("{{item.name}}")'>{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button type="submit">Submit Project</button>
                </form>
            </div>
            <div class="right">

            </div>
        </div>
    </body>
    <script>
        function addSource(data){
            if(document.querySelector("input[name=sources]").value == ""){
                document.querySelector("input[name=sources]").value = data
            }else{
                document.querySelector("input[name=sources]").value += (";"+data)
            }
        }
    </script>
</html>