<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
        </nav>
        <h1>Diagnostic Panel</h1>
        <h3>Data directory size: {{total_size.size}}</h3>
        <a href="/diag/download">Download Archive</a>
        <h4>Download Ready: <span id="download_status"></span></h4>
        <h3>Individual Jobs</h3>
        <table>
            <thead>
                <th>Job</th>
                <th>Size</th>
            </thead>
            <tbody>
                {% for item in job_size %}
                    <tr>
                        <td>{{item.folder}}</td>
                        <td>{{item.size}}</td>
                        <td><a href="/diag/pause_{{item.folder}}">Toggle pause</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Pause Handlers</h3>
        <ul>
            <li><a href="/diag/pause_processor">Processor</a></li>
            <li><a href="/diag/pause_all">All cronjobs</a></li>
        </ul>
    </body>
    <script>
        function sleep(ms){
            return new Promise(resolve => setTimeout(resolve,ms))
        }

        async function check_download(){
            data = 1
            while(data != 0){
                fetch("/diag/download/poll")
                .then(function(response){
                    return response.json()
                })
                .then(function(json){
                    console.log(json)
                    if(json.status == 0){
                        data = 0
                    }
                })
                await sleep(2000)
            }
        }

    </script>
</html>