<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
        <script src="{{ url_for('static',filename='main.js') }}"></script>
    </head>
    <body>
        <nav id="nav">
            <a href="#jobs">Jobs</a>
            <a href="#sources">Sources</a>
        </nav>
        <h1 id="jobs">Jobs</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Tags</th>
                <th>Schedule</th>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job.name}}</td>
                    <td>{{job.tags}}</td>
                    <td>{{job.schedule}}</td>
                    <td><a href="/del_job/{{job.name}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="window.location='/add_job';">Add New Job</button><br />
        <a href="#nav">Back to Top</a>
        <h1 id="sources">Sources</h1>
        <form method='POST' action='/load_sources' enctype="multipart/form-data">
            <label>Upload Sources</label>
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
        <button onclick="window.location='/export_sources';">Export Sources</button>
        <table>
            <thead>
                <th>Name</th>
                <th>Snippet</th>
                <th>Tags</th>
            </thead>
            <tbody>
                {% for source in sources %}
                <tr>
                    <td>{{source.name}}</td>
                    <td class="snippet">{{source.snippet}}</td>
                    <td>{{source.tags}}</td>
                    <td><a href="/del_source/{{source.name}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="window.location='/add_source';">Add New Source</button><br />
        <a href="#nav">Back to Top</a>
    </body>
</html>