<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol-debug.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css">
    </head>
    <body>
        <div class="grid">
            <div class="left">
                <ul>
                    {% for item in data%}
                    <li>{{ item[0] }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="right" id="map"></div>
        </div>
    </body>
    <script>
    const data = {{ data | tojson }}
    </script>
    <script src="{{ url_for('static',filename='search_done.js') }}"></script>
</html>